@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  margin: 0 !important;
  size: landscape !important;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
